@page
@model WebClient_Ajax.Pages.manage.user.UpdateModel
@{
}

<section class="bg-white">
    <div class="max-w-2xl px-4 py-8 mx-auto lg:py-16 border border-slate-400 rounded-xl my-16">
        <div class="w-full flex items-center justify-between">
            <h2 class="mb-4 text-xl font-bold text-gray-900">Update User</h2>
            <a asp-area="" asp-page="/manage/user/Index" class="mb-4 text-base text-slate-700">&lt; Back to List</a>
        </div>
        <form action="#" id="UpdateUserForm">
            <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                <input type="hidden" value="accountId" name="accountId" id="accountId" />
                <div class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">User Name</label>
                    <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 " value="" placeholder="Type user name" required="">
                </div>
                <div class="w-full">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
                    <input type="text" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 " value="" placeholder="Email" required="">
                </div>
                <div class="w-full">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                    <input type="text" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 " value="" placeholder="Password" required="">
                </div>
                <div>
                    <label for="role" class="block mb-2 text-sm font-medium text-gray-900 ">Role</label>
                    <select id="role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 ">
                        <option selected="">Electronics</option>

                    </select>
                </div>
                <div class="w-full">
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">Phone</label>
                    <input type="number" name="phone" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 " value="" placeholder="Phone" required="">
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Update user
                </button>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        const user = JSON.parse(localStorage.getItem("user"))
        const token = localStorage.getItem("token")
        const params = new URLSearchParams(window.location.search);
        const id = params.get("id")

        if (user.role.name != "Admin") {
            alert("Your account do not have sufficient access rights")
            window.location.href = "/manage/user"
        }

        function fetchRoleData() {
            $("#role").html("")
            $.ajax({
                url: "http://localhost:5201/api/role",
                type: "get",
                contentType: "application/json",
                headers: {
                    "Authorization": "Bearer " + token
                },
                error: function (reason) {
                    console.error(reason);
                },
                success: function (res) {
                    $.each(res, function (idx, value) {
                        $("#role").append(`
                                 <option value="${value.roleId}">${value.name}</option>
                            `)
                    })
                }
            })
        }
        fetchRoleData();

        function fetchCurrentUser() {
            $("#role").html("")
            $.ajax({
                url: "http://localhost:5201/api/account/" + id,
                type: "get",
                contentType: "application/json",
                headers: {
                    "Authorization": "Bearer " + token
                },
                error: function (reason) {
                    console.error(reason);
                },
                success: function (res) {
                    $("#name").val(res.name);
                    $("#email").val(res.email);
                    $("#phone").val(res.phone);
                    $("#role").val(res.roleId);
                    $("#password").val(res.password);
                    $("#accountId").val(id);
                }
            })
        }

        fetchCurrentUser();


        $('#UpdateUserForm').on('submit', function (e) {
            e.preventDefault();

            var name = $('#name').val();
            var email = $('#email').val();
            var password = $('#password').val();
            var role = $('#role').val();
            var phone = $('#phone').val();

            $.ajax({
                url: 'http://localhost:5201/api/account/' + id,
                type: 'PUT',
                contentType: "application/json",
                headers: {
                    "Authorization": "Bearer " + token
                },
                data: JSON.stringify({
                    accountId: id,
                    name,
                    email,
                    password,
                    roleId: role,
                    phone
                }),
                success: function (data) {
                    alert('Update user successfully');
                    window.location.href = "http://localhost:5292/manage/user"
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    });

</script>